{% extends 'blog/layout.html' %}
{% block article_meta %}
{% endblock %}

{% block article_layout %}
    <form method="post" onsubmit="article_post(this);return false;">
        {% csrf_token %}
        <input type="text" name="title" placeholder="제목을 입력해주세요"
            value="{{article.title|default_if_none:''}}"
        >
        <button type="submit">저장</button>
    </form>
    <form action="" onsubmit="return false;">
        
        <input class = "hash_input" type="text" name='tags' placeholder="태그를 입력해주세요 #python"
        value="{% for tag in hashtags %}#{{tag.name}} {% endfor %}">
    </form>
    <div class="toast-ui-editor"></div>
    {% autoescape on %}
    {{article.context|safe|json_script:"context"}}
    {% endautoescape %}
{% endblock %}
{% block article_footer %}
{% include 'blog/src/toastui_js.html' %}
<script>
    $(window).keypress(function(event) {
      if (!(event.which == 115 && event.ctrlKey) && !(event.which == 19)) return true;
      alert("Ctrl-S pressed");
      event.preventDefault();
      return false;
  });
  </script>
{% endblock %}

{% comment %} 
"{% url 'accounts:kakao_signin' %}?next={{request.path}}"
{% endcomment %}