
    <!-- 토스틀, alert 와 confirm을 대체할 목적으로 사용 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">


    <!-- 토스트 에디터에 사용될 새너타이즈 도구 -->
    <!-- 이게 있어서, 토스트에디터에서 유튜브, repl, codepn 플러그인 사용가능 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.0/purify.min.js"></script>

    <!-- 토스트 UI 에디터 코어 -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://nhn.github.io/tui.editor/latest/dist/cdn/theme/toastui-editor-dark.css">

    <!-- 토스트 UI 컬러피커 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.css"/>
    <script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js"></script>

    <!-- 토스트 UI 컬러피커를 토스트 UI 에디터에 연결 -->
    <link rel="stylesheet"
            href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css"/>
    <script
        src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>

    <!-- 토스트 UI 차트 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.css">
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.js"></script>

    <!-- 토스트 UI 차트를 토스트 UI 에디터에 연결  -->
    <script src="https://uicdn.toast.com/editor-plugin-chart/latest/toastui-editor-plugin-chart.min.js"></script>

    <!-- 코드 신택스 하이라이터, 프리즈마의 기본 CSS -->
    <!-- 코드 신택스 하이라이터, 프리즈마의 기본 JS는 아래 스크립트에 의해 자동으로 불러와지기 때문에 안불러와도 됨 -->

    <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.css">

    <!-- 외부 신택스 하이라이터를 토스트 UI 에디터에 연결 -->
    <link rel="stylesheet"
            href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css">
    <!-- 프리즈마 JS가 아래 스크립트에 내장되어 있음 -->
    <script
        src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>

    <!-- 토스트 UI 에디터 플러그인, 테이블 셀 병합 -->
    <script
        src="https://uicdn.toast.com/editor-plugin-table-merged-cell/latest/toastui-editor-plugin-table-merged-cell.min.js"></script>

    <!-- 수학수식 표현 라이브러리 katex -->
    <!-- 토스트 UI 에디터에 넣기 위해서 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.13/katex.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.13/katex.min.css">

    <!-- 토스트 UI 에디터 플러그인, UML -->
    <script src="https://uicdn.toast.com/editor-plugin-uml/latest/toastui-editor-plugin-uml.min.js"></script>


    <!-- 코드 mirror -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.js'></script>
    <link rel='stylesheet prefetch' href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/markdown/markdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/selection/active-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/search/search.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/search/searchcursor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/search/jump-to-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/dialog/dialog.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/dialog/dialog.min.css">